.screenContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	
}
@media (max-width: 800px) {
	.screenContainer {
		height: 100vh;
	}
}
@media (min-width: 800px) {
	.screenContainer {
		height: 90vh;
	}
}

.chatWindow {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
}
@media (max-width: 800px) {
	.chatWindow {
		width: 100vw;
		height: 100vh;
	}
}
@media (min-width: 800px) {
	.chatWindow {
		height: auto;
		width: auto; 
		border-radius: 10px; 
		border: 4px double #d5d5d5; 
	}
}

.chatContent {
	display: flex;
	flex-direction: row;
	justify-content:center;
	justify-self: stretch;
	min-height: 250px;
}
@media (max-width: 800px) {
	.chatContent {
		height: 100vh;
		max-height: 800px;
	}
}
@media (min-width: 800px) {
	.chatContent {
		height: 60vh;
		max-height: 550px;
	}
}

@media (max-width: 800px) {
	.inputField {
		padding: 5px 10px 10px 10px;
	}
}
@media (min-width: 800px) {
	.inputField {
		padding: 0px 10px 0px 10px;
	}
}