
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(178, 178, 178);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(131, 131, 131);
}